<a href="https://colab.research.google.com/github/NazninNaharSr/Dataframe/blob/main/panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a DataFrame with Pandas

In [2]:
import pandas as pd;

In [3]:
d = {'col1': [1, 2, 3, 4, 5], 'col2': ['hi','hello','sristy','gittu','bhaoo'], 'col3': [7, 8, 12, 1, 11]}

Create a data frame using the function pd.DataFrame()

In [4]:
df = pd.DataFrame(data=d)

In [5]:
print(df)

   col1    col2  col3
0     1      hi     7
1     2   hello     8
2     3  sristy    12
3     4   gittu     1
4     5   bhaoo    11

Count the number of columns

In [6]:
count_column = df.shape[1]

In [7]:
print(count_column)

3